@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6%;
  nav {
    display: flex;
    gap: 3rem;
  }
  a {
    font-weight: 900;
  }
}

#section-1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  img {
    width: 50%;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(17, 17, 17);
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;

    a {
      color: #34365a;
    }
  }
  button {
    background-color: #34365a;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
    width: 200px;
  }
  button:hover {
    background-color: white;
    color: black;
  }
}
button:hover {
  background-color: azure;
  color: black;
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  h1 {
    font-size: 3rem;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    width: 588px;
  }
}
#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  padding-bottom: 40px;
  .parent {
    width: 75%;
    background-color: #f1bb13;
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    width: 50%;
    background-color: aquamarine;
  }
  .orang1 {
    background-color: #f1bb13;
    .text-box {
      padding: 25px;
      h2 {
        font-size: 35px;
      }
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: rgb(0, 0, 0);
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .blue {
    background-color: #34365a;
    color: azure;
    .text-box {
      padding: 25px;
    }
    h2 {
      font-size: 35px;
    }
    .text-box {
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: white;
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .p1 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/fgfg.jpg);
    background-size: cover;
  }
  .p2 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/yu.jpg);
    background-size: cover;
  }
  .p3 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/89.jpg);
    background-size: cover;
  }
  .orang2 {
    background-color: #f1bb13;
    .text-box {
      padding: 25px;
      h2 {
        font-size: 35px;
      }
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: rgb(0, 0, 0);
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
#section-3 {
  width: 100%;
  height: 30vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .main-1 {
    h2 {
      color: aliceblue;
      font-size: 48px;
    }
    p {
      color: aliceblue;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 20px;
    }
    button {
      border-radius: 2rem;
      width: 250px;
      height: 47px;
      text-transform: uppercase;
      border: solid white;
      color: #34365a;
    }
    button:hover {
      background-color: #34365a00;
      color: aliceblue;
    }
    .b1 {
      background-color: #34365a00;
      color: aliceblue;
      margin-right: 25px;
    }
    .b1:hover {
      background-color: aliceblue;
      color: #34365a;
    }
  }
}
#section-4 {
  width: 100%;
  height: 60vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .main-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 800px;
      margin-right: 300px;
      margin-top: 100px;
    }
    .text-box1 {
      width: 518px;
      height: 513px;
      background-color: aliceblue;
      position: absolute;
      right: -44px;
      top: 315px;
      h2 {
        font-size: 60px;
        text-align: justify;
        padding: 30px;
      }
      p {
        text-align: left;
        padding-left: 10px;
        line-height: 1.2;
        font-size: 20px;
      }
      .p1 {
        padding-bottom: 20px;
      }
      button {
        background-color: #34365a;
        color: white;
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        margin-top: 15px;
        margin-right: 300px;
      }
      button:hover {
        background-color: #f4c845;
        color: black;
      }
    }
  }
}
#section-5 {
  width: 100%;
  margin-top: 415px;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  .list {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
        margin-top: 80px;
    .son {
      width: 24%;
      height: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      .img {
        height: 135px;
        width: 135px;
        border-radius: 50%;
        position: absolute;
        right: 20%;
        top: 0%;
        background-color: #f1bb13;
      }
      img {
        position: absolute;
        right: 35%;
        top: 32%;
      }
      h4 {
        overflow-wrap: break-word;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 135px;
        font-size: x-large;
      }
      p {
        padding-top: 30px;
      }
    }
  }
}
