@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Open Sans";
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6%;
  nav {
    display: flex;
    gap: 3rem;
  }
  a {
    font-weight: 900;
  }
}

#section-1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  img {
    width: 50%;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(17, 17, 17);
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;

    a {
      color: #34365a;
    }
  }
  button {
    background-color: #34365a;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
    width: 200px;
  }
  button:hover {
    background-color: white;
    color: black;
  }
}
button:hover {
  background-color: azure;
  color: black;
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  h1 {
    font-size: 3rem;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    width: 588px;
  }
}
#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  padding-bottom: 40px;
  .parent {
    width: 75%;
    background-color: #f1bb13;
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    width: 50%;
    background-color: aquamarine;
  }
  .orang1 {
    background-color: #f1bb13;
    .text-box {
      padding: 25px;
      h2 {
        font-size: 35px;
      }
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: rgb(0, 0, 0);
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .blue {
    background-color: #34365a;
    color: azure;
    .text-box {
      padding: 25px;
    }
    h2 {
      font-size: 35px;
    }
    .text-box {
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: white;
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .p1 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/fgfg.jpg);
    background-size: cover;
  }
  .p2 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/yu.jpg);
    background-size: cover;
  }
  .p3 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/144337/images/89.jpg);
    background-size: cover;
  }
  .orang2 {
    background-color: #f1bb13;
    .text-box {
      padding: 25px;
      h2 {
        font-size: 35px;
      }
      p {
        margin-top: 12px;
        margin-bottom: 20px;
      }
      button {
        color: rgb(0, 0, 0);
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        background-color: #201f1c00;
        border: solid;
        margin-top: 40px;
        text-transform: uppercase;
      }
      button:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
#section-3 {
  width: 100%;
  height: 30vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .main-1 {
    h2 {
      color: aliceblue;
      font-size: 48px;
    }
    p {
      color: aliceblue;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 20px;
    }
    button {
      border-radius: 2rem;
      width: 250px;
      height: 47px;
      text-transform: uppercase;
      border: solid white;
      color: #34365a;
    }
    button:hover {
      background-color: #34365a00;
      color: aliceblue;
    }
    .b1 {
      background-color: #34365a00;
      color: aliceblue;
      margin-right: 25px;
    }
    .b1:hover {
      background-color: aliceblue;
      color: #34365a;
    }
  }
}
#section-4 {
  width: 100%;
  height: 60vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .main-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 800px;
      margin-right: 300px;
      margin-top: 100px;
    }
    .text-box1 {
      width: 518px;
      height: 513px;
      background-color: aliceblue;
      position: absolute;
      right: -44px;
      top: 315px;
      .t-b {
        font-size: 50px;
        text-align: justify;
        padding: 30px;
      }
      p {
        text-align: left;
        padding-left: 10px;
        line-height: 1.2;
        font-size: 20px;
      }
      .p1 {
        padding-bottom: 20px;
      }
      button {
        background-color: #34365a;
        color: white;
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 200px;
        margin-top: 15px;
        margin-right: 300px;
      }
      button:hover {
        background-color: #f4c845;
        color: black;
      }
    }
  }
}
#section-5 {
  width: 100%;
  margin-top: 415px;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  .list {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 80px;
    .son {
      width: 24%;
      height: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      .img {
        height: 135px;
        width: 135px;
        border-radius: 50%;
        position: absolute;
        right: 20%;
        top: 0%;
        background-color: #f1bb13;
      }
      img {
        position: absolute;
        right: 35%;
        top: 32%;
      }
      h4 {
        overflow-wrap: break-word;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 135px;
        font-size: x-large;
      }
      p {
        padding-top: 30px;
      }
    }
  }
}
#section-6 {
  .perant {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 55px;
    .left {
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 186px;
        width: 398px;
        background-color: rgb(241, 187, 19);
        border-bottom-left-radius: 34px;
        border-bottom-right-radius: 34px;
        h6 {
          letter-spacing: 4px;
          font-weight: 400;
          margin-right: 244px;
          margin-top: 30px;
          color: #111111;
        }
        h2 {
          font-size: 48px;
          line-height: 52.8px;
          font-weight: 700;
          color: #111111;
        }
      }
      p {
        padding-bottom: 26px;
        padding-top: 26px;
        line-height: 25.6px;
        color: #111111;
      }
      span {
        width: 137.214px;
        color: #111111;
      }
      button {
        background-color: #34365a;
        color: white;
        border-radius: 2rem;
        padding: 1rem;
        border: 0;
        width: 188px;
        margin-top: 15px;
      }
      button:hover {
        background-color: #f4c845;
        color: black;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 200px;
        border-radius: 100px;
      }
      .upper {
        img {
          margin-left: 50px;
          border-radius: 50%;
          height: 200px;
        }
        .img {
          background-color: rgb(52, 54, 90);
          padding: 14px;
          width: 55px;
          height: 55px;
          position: absolute;
          border-radius: 50px;
          margin-top: 20px;
          margin-left: 29px;
          img {
            background-color: #ffffff00;
            width: 34px;
            height: 34px;
            position: relative;
            top: -6px;
            right: 53px;
          }
        }
        h6 {
          text-align: center;
          text-transform: uppercase;
          margin-top: 20px;
          margin-bottom: 22px;
          font-weight: 700;
          font-size: 18px;
          margin-left: 50px;
        }
        p {
          padding-left: 116px;
          margin-bottom: 70px;
          font-size: 16px;
        }
      }

      .lower {
        .img {
          background-color: rgb(52, 54, 90);
          padding: 14px;
          width: 55px;
          height: 55px;
          position: absolute;
          border-radius: 50px;
          margin-top: 20px;
          margin-left: 29px;
          img {
            background-color: #ffffff00;
            width: 34px;
            height: 34px;
            position: relative;
            top: -5px;
            right: 4px;
          }
        }
        h6 {
          text-align: center;
          text-transform: uppercase;
          margin-top: 20px;
          margin-bottom: 22px;
          font-weight: 700;
          font-size: 18px;
          margin-left: 50px;
        }
        p {
          padding-left: 116px;
          margin-bottom: 70px;
          font-size: 16px;
        }
      }
    }
  }
}
#section-7 {
  display: flex;
  justify-content: center;
  .box-1 {
    width: 100%;
    height: 80vh;
    background-color: #f1bb13;
    display: flex;
    flex-wrap: nowrap;
    padding: 78px;
  }
  .left-box {
    display: flex;
    flex-direction: column;
    color: rgb(17, 17, 17);
    padding-left: 90px;
    h6 {
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 48px;
      padding-bottom: 48px;
      line-height: 52.8px;
    }
    p {
      font-size: 18px;
      line-height: 32.4px;
      width: 414.438px;
      padding-bottom: 30px;
    }
    button {
      background-color: #34365a;
      color: white;
      border-radius: 2rem;
      padding: 1rem;
      border: 0;
      width: 188px;
      margin-top: 15px;
    }
  }
  .right-box {
    width: 100%;
    position: relative;
    img {
      max-height: 517px;
      height: 100%;
      position: absolute;
      right: 0%;
    }
  }
}
#section-8 {
  .hero {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
    .bac {
      position: absolute;
      z-index: -1;
      top: -2%;
      left: 0%;
    }
    .bac-2 {
      position: absolute;
      z-index: -1;
      right: 21px;
      top: 45%;
    }
    .left-h {
      width: 40%;
      height: 90%;
      .upper-h {
        height: 60%;
        background-image: url(https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/2fb4092eec0b58fd8ac897e4/dftg.jpg);
        background-size: cover;
        padding: 20px 60px;
        h2 {
          font-size: 51px;
          font-weight: 700;
          color: rgb(255, 255, 255);
        }
        img {
          width: 20%;
        }
      }
      .lower-h {
        height: 40%;
        display: flex;
        flex-direction: row;
        background-color: #f1bb13;

        img {
          width: 40%;
          background-size: cover;
        }
        .text-h {
          display: flex;
          flex-direction: column;
          padding: 30px;
          color: #111111;
          h2 {
            font-size: 30px;
            font-weight: 600;
          }
          p {
            margin-top: 34px;
            font-size: 24px;
          }
        }
      }
    }
    .right-h {
      width: 40%;
      height: 90%;
      .upper-h {
        padding: 18px;
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        background-color: #34365a;
        width: 100%;
        height: 50%;
        h2 {
          font-size: 40px;
          font-weight: 500;
          padding-bottom: 6px;
        }
        h3 {
          font-size: 18px;
          font-weight: 300;
          padding-bottom: 6px;
        }
        button {
          border-color: aliceblue;
          background-color: #34365a;
          color: white;
          border-radius: 2rem;
          padding: 1rem;
          border: 1;
          width: 188px;
        }
      }
      .lower-h {
        width: 100%;
        height: 50%;
        background-size: cover;
        background-image: url(https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/3c4852e9c4825b8e80614452/esg.jpg);
      }
    }
  }
}
#section-9 {
  .im-b {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .box-a {
    padding: 35px;
    bottom: -189px;
    right: 433px;
    width: 660px;
    height: 268px;
    background-color: aliceblue;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    p {
      font-size: 15px;
      text-align: center;
    }
    button {
      background-color: #34365a;
      color: white;
      border-radius: 2rem;
      padding: 1rem;
      border: 0;
      width: 188px;
      margin-top: 5px;
    }
        button:hover {
  background-color: azure;
  color: rgb(232, 11, 11);
}
  }
  .bot {
    width: 100%;
    height: 40vh;
    background-color: #34365a;
    position: absolute;
    z-index: -1;
    top: 5958px;
    height: 57vh;
  }
}
#section-10 {
  width: 100%;
  height: 200vh;
  background-color: #34365a;
  margin-top: 288px;
  .boss {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 90%;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 300px;
      color: rgb(255, 255, 255);
    }
    .perant-boxs {
      width: 100%;
      height: 265px;
      position: relative;

      .son-boxs-1 {
        left: 6%;
        bottom: 409%;
        position: absolute;
        height: 100%;
        width: 20%;
        background-color: rgb(255, 255, 255);
      }
      .son-boxs-2 {
        left: 29%;
        bottom: 409%;
        position: absolute;
        height: 100%;
        width: 20%;
        background-color: rgb(255, 255, 255);
      }
      .son-boxs-3 {
        left: 53%;
        bottom: 409%;
        position: absolute;
        height: 100%;
        width: 20%;
        background-color: rgb(255, 255, 255);
      }
      .son-boxs-4 {
        left: 76%;
        bottom: 409%;
        position: absolute;
        height: 100%;
        width: 20%;
        background-color: rgb(255, 255, 255);
      }
      .typ {
        padding: 30px;
        p {
          color: rgb(102, 102, 102);
          font-size: 16px;
          font-weight: 700;
          line-height: 25.6px;
          text-align: center;
        }
        h3 {
          color: rgb(241, 187, 19);
          font-size: 72px;
          font-weight: 700;
          margin-top: 19px;
          text-align: center;
        }
      }
    }
  }
}
footer {
  width: 100%;
  height: 60vh;
  background-color: #34365a;
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;

  .right-f {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    h3 {
      color: rgb(255, 255, 255);
      font-size: 36px;
      font-weight: 700;
      line-height: 50.4px;
      padding-bottom: 15px;
    }
    h6 {
      font-size: 37px;
      font-style: italic;
      font-weight: 700;
      color: rgb(255, 255, 255);
      line-height: 32.4px;
      text-align: left;
      padding-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 32px;
      color: rgb(255, 255, 255);
    }
  }
  .mid {
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: rgb(255, 255, 255);
      padding-bottom: 15px;
    }
    h6 {
      font-size: 16px;
      line-height: 25.6px;
      color: rgb(255, 255, 255);
    }
  }
  .left-f {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .input {
      width: 234px;
      height: 42px;
    }
    textarea {
      width: 243px;
      height: 169px;
    }
       button {
      background-color: rgb(241, 187, 19);
      color: #111111;
      border-radius: 2rem;
      padding: 1rem;
      border: 0;
      width: 290px;
      margin-top: 5px;
    }
    button:hover {
  background-color: azure;
  color: rgb(51, 51, 51);
}
  }
}
